useDynLib(rugarch)
importFrom(graphics, plot, lines)
importFrom(stats, coef, residuals, fitted)
importFrom(Rsolnp, solnp, gosolnp)
importFrom(numDeriv, jacobian, hessian)
importFrom(chron, is.weekend, seq.dates)
exportClasses("rGARCH")
exportClasses("GARCHspec", "uGARCHspec")
exportClasses("GARCHfit", "uGARCHfit")
exportClasses("GARCHsim", "uGARCHsim")
exportClasses("GARCHpath", "uGARCHpath")
exportClasses("GARCHforecast", "uGARCHforecast")
exportClasses("GARCHboot", "uGARCHboot")
exportClasses("GARCHdistribution", "uGARCHdistribution")
exportClasses("uGARCHmultifit", "uGARCHmultispec")
exportClasses("uGARCHmultifilter", "uGARCHmultiforecast")
exportClasses("ARFIMA")
exportClasses("ARFIMAspec", "ARFIMAfit", "ARFIMAfilter", "ARFIMAforecast")
exportClasses("ARFIMAsim", "ARFIMApath", "ARFIMAroll", "ARFIMAdistribution")
exportClasses("ARFIMAmultifit", "ARFIMAmultispec")
exportClasses("ARFIMAmultifilter", "ARFIMAmultiforecast")
exportMethods("as.array", "as.list")
exportMethods("show", "plot", "as.data.frame", "coef", "residuals", "sigma")
exportMethods("infocriteria", "likelihood", "fitted", "nyblom", "signbias", "gof", "fpm", "getspec", "setfixed<-", "setstart<-")
exportMethods("uncvariance", "uncmean", "persistence","halflife", "report", "as.uGARCHforecast", "newsimpact")
export("ugarchspec", "ugarchfit", "ugarchsim", "ugarchforecast")
export("ugarchfilter", "ugarchpath", "ugarchroll", "ugarchbench")
export("arfimaspec", "arfimafit", "arfimasim", "arfimaforecast")
export("arfimafilter", "arfimapath", "arfimaroll")
export("multispec", "multifit", "multifilter", "multiforecast")
export("ugarchboot", "ugarchdistribution")
export("arfimadistribution")
export("ForwardDates", "WeekDayDummy")
export("ddist", "pdist", "qdist", "rdist", "fitdist", "ghyptransform", "dskewness", "dkurtosis")
export("BerkowitzLR", "DACTest")