useDynLib(rugarch,.registration = TRUE)
import(methods)
importFrom("graphics", "plot", "lines","abline", "axis", "barplot", "box", "contour", "frame", "grid", "hist", "image", "layout", "legend", "mtext", "par", "persp", "points", "rect", "title")
importFrom("grDevices", "colors", "dev.cur", "dev.interactive", "dev.new", "dev.next", "hsv", "rainbow", "topo.colors")
importFrom("utils", "head", "menu", "str", "tail","data")
importFrom("stats", "Box.test", "acf", "alias", "arima", "arima0", "ccf", "cov", "density", "deviance", "df.residual", "dnorm", "embed", "formula", "hat", "integrate", "lm", "ls.print", "lsfit", "median", "model.matrix", "na.omit", "na.pass", "nlminb", "optim", "pchisq", "pf", "pgamma", "pnorm", "ppoints", "qchisq", "qnorm", "resid", "rnorm", "runif", "sd", "spline", "uniroot", "var", "weights", "window")
importFrom(Rsolnp, solnp, gosolnp, startpars)
importFrom(nloptr, nloptr)
importFrom(numDeriv, jacobian, hessian, grad)
importFrom(xts, xts, as.xts, is.xts, axTicksByTime)
importFrom(zoo, coredata, index)
importFrom(parallel, makeForkCluster, makePSOCKcluster, stopCluster, clusterEvalQ, clusterExport, clusterMap, parLapply, parSapply)
importFrom(spd, spdfit, rspd)
importFrom(ks, kde, rkde, hpi)
importFrom(SkewHyperbolic, qskewhyp, pskewhyp)
importFrom(Rcpp, evalCpp)
exportClasses("rGARCH")
exportClasses("GARCHspec", "uGARCHspec")
exportClasses("GARCHfit", "uGARCHfit")
exportClasses("GARCHfilter", "uGARCHfilter")
exportClasses("GARCHroll", "uGARCHroll")
exportClasses("GARCHsim", "uGARCHsim")
exportClasses("GARCHpath", "uGARCHpath")
exportClasses("GARCHforecast", "uGARCHforecast")
exportClasses("GARCHboot", "uGARCHboot")
exportClasses("GARCHdistribution", "uGARCHdistribution")
exportClasses("uGARCHmultifit", "uGARCHmultispec")
exportClasses("uGARCHmultifilter", "uGARCHmultiforecast")
exportClasses("ARFIMA")
exportClasses("ARFIMAspec", "ARFIMAfit", "ARFIMAfilter", "ARFIMAforecast")
exportClasses("ARFIMAsim", "ARFIMApath", "ARFIMAroll", "ARFIMAdistribution")
exportClasses("ARFIMAmultifit", "ARFIMAmultispec")
exportClasses("ARFIMAmultifilter", "ARFIMAmultiforecast")
exportMethods("show", "plot", "as.data.frame", "coef", "residuals", "sigma", "quantile", "pit")
exportMethods("infocriteria", "likelihood", "fitted", "vcov","nyblom", "signbias", "gof", "fpm")
exportMethods("getspec", "setfixed<-", "setstart<-", "setbounds<-", "resume", "reduce","confint")
exportMethods("uncvariance", "uncmean", "persistence","halflife", "report", "newsimpact", "convergence")
export("ugarchspec", "ugarchfit", "ugarchsim", "ugarchforecast")
export("ugarchfilter", "ugarchpath", "ugarchroll", "ugarchbench")
export("arfimaspec", "arfimafit", "arfimasim", "arfimaforecast")
export("arfimafilter", "arfimapath", "arfimaroll")
export("multispec", "multifit", "multifilter", "multiforecast")
export("ugarchboot", "ugarchdistribution")
export("arfimadistribution")
export("autoarfima","arfimacv")
export("ddist", "pdist", "qdist", "rdist", "fitdist", "ghyptransform", "dskewness", "dkurtosis", "distplot", "skdomain")
export("BerkowitzTest", "DACTest", "VaRTest", "ESTest", "VaRDurTest","GMMTest","HLTest","VaRplot", "VaRloss")
export("move", "generatefwd", "ftseq", "mcsTest")
export("qnig","qgh")
